$header_height: 50px;

:host {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr min-content;
}

.header {
  height: $header_height;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  //debug
  border: solid 1px red;
}

.main {
  margin-top: $header_height;

  //debug
  height: 200vh;
  border: solid 1px green;
}

.footer {
  height: 50px;

  //debug
  border: solid 1px blue;
}
