.v-container {
  display: block;
  height: calc(100vh - var(--header-height));
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//https://mediaboom.com/#/home
